.navbar{
    font-size: large;
}

.menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin-left: 1930px;
    text-decoration: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}
